name: Build Geode Mod

on:
  workflow_dispatch:
  push:
    branches:
      - "**"

jobs:

  build:

    name: Build for windows
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    

    steps:
      - uses: actions/checkout@v4

      - name: Cache downloads
        id: cache-libs
        uses: actions/cache@v4
        with:
          path: |
            downloads/resources.tar.gz
            downloads/ffmpeg.zip
            downloads/onnxruntime-win64.zip

          key: my_constant_key_v1

          # key: ${{ runner.os }}-downloads-${{ hashFiles('**/.github/workflows/multi-platform.yml') }}
          # restore-keys: ${{ runner.os }}-downloads-

      - name: Download external files
        if: steps.cache-libs.outputs.cache-hit != 'true'
        run: |
          mkdir -p downloads
          cd downloads
          curl "https://s3.ap-northeast-2.wasabisys.com/pinto-model-zoo/271_HRNet/resources.tar.gz" -o resources.tar.gz
          curl "https://github.com/microsoft/onnxruntime/releases/download/v1.22.1/onnxruntime-win-x64-1.22.1.zip" -Lo onnxruntime-win64.zip
          curl "https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2025-09-30-13-19/ffmpeg-N-121271-g74115b017c-win64-gpl-shared.zip" -Lo ffmpeg.zip
          cd ..


      - name: Unzip Files
        run: |
          mkdir -p unzipped
          tar -zxvf ./downloads/resources.tar.gz -C ./unzipped
          unzip ./downloads/onnxruntime-win64.zip -d ./unzipped
          unzip ./downloads/ffmpeg.zip -d ./unzipped
          ls -al unzipped


      - name: Move files
        run: |
          mkdir lib

          mv ./unzipped/onnxruntime-win-x64-* ./lib/onnxruntime

          mv ./unzipped/ffmpeg-N-* ./lib/ffmpeg

          mkdir -p resources/models
          mv ./unzipped/hrnet_coco_w32_256x192.onnx ./resources/models


      - name: Build the mod
        uses: geode-sdk/build-geode-mod@main


      - name: Prepare files
        run: |
          mkdir -p build/resources/razoom.s_pov/binaries/win

          mv ./lib/onnxruntime/lib/*.dll ./build/resources/razoom.s_pov/binaries/win

          mv ./lib/ffmpeg/bin/avcodec*.dll ./build/resources/razoom.s_pov/binaries/win
          mv ./lib/ffmpeg/bin/avdevice*.dll ./build/resources/razoom.s_pov/binaries/win
          mv ./lib/ffmpeg/bin/swscale*.dll ./build/resources/razoom.s_pov/binaries/win
          mv ./lib/ffmpeg/bin/avutil*.dll ./build/resources/razoom.s_pov/binaries/win
          mv ./lib/ffmpeg/bin/swresample*.dll ./build/resources/razoom.s_pov/binaries/win
          mv ./lib/ffmpeg/bin/avfilter*.dll ./build/resources/razoom.s_pov/binaries/win

          mv ./lib/ffmpeg/bin/avformat*.dll ./build/resources/razoom.s_pov/binaries/win


      - name: Repack the mod
        shell: powershell
        run: |
          cd build
          7z a ./razoom.s_pov.geode ./resources
          cd ..


      - uses: actions/upload-artifact@v4
        with:
          name: Build Output
          path: ./build/razoom.s_pov.geode


